
QTableView
{ 
     font-size:14px; 
	font-family:"Microsoft YaHei UI";
	color:#b4b4b4;
background-color: #181a1d;
	alternate-background-color:#181a1d; 
	selection-background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2a3a57, stop: 0.15 #2a3a57 ,stop: 0.85 #2a3a57,stop: 1 #2a3a57);
    margin:0px;
	/*margin-left: 0px;*/
    /*text-align:center;*/
    border:none;
	/*border-bottom:50px;*/
    min-height:80px;
    font:bold;
} 

/*表头:整条的设置*/
QHeaderView 
{ 
	color:#b4b4b4;
	font-size:14px bold; 
	background-color: #181a1d; 

    border:none;/*先把边框宽度设为0，即隐藏所有表头边框*/
    border-bottom:5px solid #030303;/*然后只显示下边框，因为上边框和左右边框是整个Table的边框，都显示会有2px的边框宽度*/
    height:20px;/*表头高度*/
}

QHeaderView::section
{ 
    color:#b4b4b4;
    padding-left:0px;
    margin-left:0px;
	background-color:#181a1d; /*表头整条的背景*/
}

QTableView QTableCornerButton::section {
    border: 2px outset white;

 }


QPushButton{
        border-radius: 3px;
        border: none;
		background: #2a3a57;
        height:50px;
        width:35px;
        margin:0px;
}

/*划过按钮*/
QPushButton:enabled:hover{
        background: #227dc3;
}

QPushButton:enabled:pressed{
        background: #227dc3;
}


QPushButton#pushButton_cancelorder{
        height:75px;
        width:35px;
        margin-bottom:5px;
}
QPushButton#pushButton_cancelallorder{

        height:75px;
        width:35;
        margin-bottom:5px;
}
QPushButton#pushButton_changeorder{
        height:75px;
        width:35;
        margin-bottom:5px;
}




QPushButton#pushButton_pre_delete{
     
        width:75px;
        height:35px;
        margin-bottom:5px;
}
QPushButton#pushButton_pre_send{

       width :75px;
        height:35;
        margin-bottom:5px;
}
QPushButton#pushButton_clear_send{
        width :75px;
        height:35;
        margin-bottom:5px;
}



/*QTableView表头高度和大小时，必须设置section的first，middle，last和设置字体颜色，不然设置大小不生效*/
/*QHeaderView::section:first
{
    color:white;
    height: 30px;
    font: 14pt "Microsoft YaHei UI";
}
 
QHeaderView::section:middle
{
    color:white;
    height: 30px;
    font: 14pt "微软雅黑";
}
 
QHeaderView::section:last
{
    color:white;
    height: 30px;
    font: 14pt "微软雅黑";
}*/
